version: '3.8'

services:
  whatsapp-service:
    build: .
    container_name: whatsapp-bot
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - ./whatsapp-session:/app/.session
    environment:
      - PORT=3000
    stdin_open: true
    tty: true
